<div class="card h-100 justify-content-center">
                    <iframe src="{{ media_api }}{{ media.typeMedia }}/{{ media.idIMDB }}"
                        allow="fullscreen; autoplay; encrypted-media; picture-in-picture" allowfullscreen
                        referrerpolicy="no-referrer" loading="lazy" frameborder="0" scrolling="no"
                        style="width:100%; aspect-ratio:16/9; border:0; border-radius:12px;">
                    </iframe>
                
            </div>